:root {
  --button-color: var(--takemebythehand-color);
  --background-color: var(--takemebythehand-background-color);
  --text-color: var(--takemebythehand-text-color);
  --conversation-color: var(--takemebythehand-conversation-color);
}

body {
  background-image: url('../images/backgroundtakemebythehand.jpg');
}
