:root {
  --isthereanappforthat-color: #47E97D;
  --isthereanappforthat-background-color: #002d54;
  --isthereanappforthat-text-color: white;
  --isthereanappforthat-conversation-color: #f9fffc;
  --takemebythehand-color: #62CEE2;
  --takemebythehand-background-color: #682c44;
  --takemebythehand-text-color: black;
  --takemebythehand-conversation-color: #ccf1f9;
  --sharingiscaring-color: #44C293;
  --sharingiscaring-background-color: #b9efe2;
  --sharingiscaring-text-color: white;
  --sharingiscaring-conversation-color: #002d54;
  --onmyterms-color: #766DE3;
  --onmyterms-background-color: #143e77;
  --onmyterms-text-color: white;
  --onmyterms-conversation-color: #fde9da;
  --seethewholeme-color: #CB27B0;
  --seethewholeme-background-color: #f089ca;
  --seethewholeme-text-color: white;
  --seethewholeme-conversation-color: #074985;
  --givemefairaccess-color: #EAE617;
  --givemefairaccess-background-color: #ffff7f;
  --givemefairaccess-text-color: black;
  --givemefairaccess-conversation-color: #002d54;
  --winbackmytrust-color: #D80015;
  --winbackmytrust-background-color: #002d54;
  --winbackmytrust-text-color: white;
  --winbackmytrust-conversation-color: #fff8f9;
}
