:root {
  --isthereanappforthat-color: #44C293;
  --isthereanappforthat-background-color: #97edcd;
  --isthereanappforthat-text-color: white;
  --isthereanappforthat-conversation-color: black;
  --takemebythehand-color: #62CEE2;
  --takemebythehand-background-color: #a9eff7;
  --takemebythehand-text-color: black;
  --takemebythehand-conversation-color: black;
  --sharingiscaring-color: #47E97D;
  --sharingiscaring-background-color: #97ffbb;
  --sharingiscaring-text-color: white;
  --sharingiscaring-conversation-color: black;
  --onmyterms-color: #766DE3;
  --onmyterms-background-color: #c1bcf2;
  --onmyterms-text-color: white;
  --onmyterms-conversation-color: black;
  --seethewholeme-color: #CB27B0;
  --seethewholeme-background-color: #f089ca;
  --seethewholeme-text-color: white;
  --seethewholeme-conversation-color: #074985;
  --givemefairaccess-color: #EAE617;
  --givemefairaccess-background-color: #ffff9b;
  --givemefairaccess-text-color: black;
  --givemefairaccess-conversation-color: black;
  --winbackmytrust-color: #D80015;
  --winbackmytrust-background-color: #fad8db;
  --winbackmytrust-text-color: white;
  --winbackmytrust-conversation-color: #6a030c;
}
