:root {
  --isthereanappforthat-color: #44C293;
  --isthereanappforthat-background-color: #b9e7d1;
  --isthereanappforthat-text-color: white;
  --takemebythehand-color: #62CEE2;
  --takemebythehand-background-color: #63cee2;
  --takemebythehand-text-color: black;
  --sharingiscaring-color: #47E97D;
  --sharingiscaring-background-color: #fc4012;
  --sharingiscaring-text-color: white;
  --onmyterms-color: #766DE3;
  --onmyterms-background-color: #c1bcf2;
  --onmyterms-text-color: white;
  --seethewholeme-color: #CB27B0;
  --seethewholeme-background-color: #fd8079;
  --seethewholeme-text-color: white;
  --givemefairaccess-color: #EAE617;
  --givemefairaccess-background-color: #ffff9b;
  --givemefairaccess-text-color: black;
  --winbackmytrust-color: #D80015;
  --winbackmytrust-background-color: #f4bfc3;
  --winbackmytrust-text-color: white;
}
