body {
  background: #EBEBEB;
  margin: 0;
  transition: all 2s;
}

body.transitioning {
  opacity: 0;
  transition: all 0.5s;
}

header, section, nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

header button, header h1,
section button, section p:first-child {
  margin-top: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.doneenter header,
body.doneexplore section {
  animation: fadeout 0.5s forwards;
  pointer-events: none;
}

header h1 {
  font-size: 60px;

  animation: fadeinup 0.5s ease-out backwards;
  animation-delay: 0.25s;
}

header p,
section p {
  max-width: 550px;

  font-size: 20px;
  color: #002E56;

  animation: fadeinup 0.5s ease-out backwards;
  animation-delay: 1s;
}

header p:nth-child(3),
section p:nth-child(2) {
  animation-delay: 2s;
}

header p:nth-child(4),
section p:nth-child(3) {
  animation-delay: 3s;
}

header button,
section button {
  animation: fadeinup 0.5s ease-out backwards;
  animation-delay: 4s;
}

body:not(.doneenter) section {
  display: none;
}

#map {
  z-index: 1;
  height: 60vh;
  width: 60vh;
  position: absolute;
  padding: 0;
}

#framework {
  height: 80vh;
  width: 80vw;
  position: absolute;
  padding: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

body.doneexplore.showframework #framework {
  opacity: 1;
}

nav li {
  list-style: none;
  position: absolute;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 1s;

  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

nav li a {
  color: white;
  font-family: "Averta-Regular";
  font-size: 18px;
  line-height: 30px;

  text-decoration: none;
  margin: 20px;
}

#bubblegivemefairaccess a,
#bubblesharingiscaring a,
#bubblewinbackmytrust a {
  color: black;
}

nav li a,
nav #navheader,
nav #buttons button {
  display: none;
}

body.doneexplore nav li a,
body.doneexplore nav #navheader {
  display: inline-block;
  animation: fadein 2s backwards;
}

body.doneexplore #buttons button {
  display: inline-block;
  animation: fadeinup 0.5s backwards;
  animation-delay: 0.75s;
}

body.doneexplore li {
  transform: translate(0, 0) !important;
}

nav li:hover,
nav li:focus {
  transform: scale(1.05) !important;
  z-index: 1;
}

#bubbleisthereanappforthat {
  left: 0%;
  top: 69%;
  width: 34%;
  height: 34%;
  mask-image: url("images/bubbleisthereanappforthat.svg");
  -webkit-mask-image: url("images/bubbleisthereanappforthat.svg");
  background: #44C293;

  transform: translate(-100%, -175%);
}


#bubbletakemebythehand {
  left: 60%;
  top: 34%;
  width: 40%;
  height: 29%;
  mask-image: url("images/bubbletakemebythehand.svg");
  -webkit-mask-image: url("images/bubbletakemebythehand.svg");
  background: #D80015;

  transform: translate(50%, -250%) scale(2.5);
}

#bubblesharingiscaring {
  left: 16%;
  top: 0%;
  width: 61%;
  height: 34%;
  mask-image: url("images/bubblesharingiscaring.svg");
  -webkit-mask-image: url("images/bubblesharingiscaring.svg");
  background: #47E97D;

  transform: translate(200%, 0) scale(1.25);
}


#bubbleonmyterms {
  left: 31%;
  top: 65%;
  width: 44%;
  height: 28%;
  mask-image: url("images/bubbleonmyterms.svg");
  -webkit-mask-image: url("images/bubbleonmyterms.svg");
  background: #766DE3;

  transform: translate(-200%, 150%) scale(1.5);
}

#bubbleseethewholeme {
  left: 22%;
  top: 25%;
  width: 49%;
  height: 46%;
  mask-image: url("images/bubbleseethewholeme.svg");
  -webkit-mask-image: url("images/bubbleseethewholeme.svg");
  background: #CB27B0;

  transform: translate(-200%, -100%) scale(1.75);
}

#bubblegivemefairaccess {
  left: 2%;
  top: 32%;
  width: 30%;
  height: 38%;
  mask-image: url("images/bubblegivemefairaccess.svg");
  -webkit-mask-image: url("images/bubblegivemefairaccess.svg");
  background: #EAE617;

  transform: translate(-350%, 50%) scale(1.75);
}

#bubblewinbackmytrust {
  left: 65%;
  top: 58%;
  width: 25%;
  height: 23%;
  mask-image: url("images/bubblewinbackmytrust.svg");
  -webkit-mask-image: url("images/bubblewinbackmytrust.svg");
  background: #62CEE2;

  transform: translate(200%, 50%) scale(1.5);
}

body.doneenter #bubbleisthereanappforthat{
  transform: translate(-150%, -175%);
}

body.doneenter #bubbletakemebythehand{
  transform: translate(0%, -200%);
}

body.doneenter #bubblesharingiscaring{
  transform: translate(200%, 0);
}

body.doneenter #bubbleonmyterms{
  transform: translate(-150%, 100%);
}

body.doneenter #bubbleseethewholeme{
  transform: translate(-150%, -150%);
}

body.doneenter #bubblegivemefairaccess{
  transform: translate(-350%, 50%);
}

body.doneenter #bubblewinbackmytrust {
  transform: translate(200%, 50%);
}

#navheader {
  position: absolute;
  top: 50px;
  left: 50px;
}

#buttons {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

#buttons button {
  width: 0;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0);
  margin: 10px;
}

body.doneexplore #buttons button:nth-child(2) {
  animation-delay: 1s;
}

body.doneexplore #buttons button:nth-child(3) {
  animation-delay: 1.25s;
}

body.doneexplore #buttons button:nth-child(4) {
  animation-delay: 1.5s;
}

#buttons button:hover {
  color: white;
  width: auto;
}

#buttons button#buttontogglesound:hover {
  width: 173px;
}

#buttons button#buttonfilter:hover {
  width: 183px;
}

#buttons button#buttondownload:hover {
  width: 237px;
}

#buttons button#buttontoggleframework:hover {
  width: 212px;
}
