body, ol, ul, li, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

h1 {
  color: #002E56;
  font-family: "Averta-Regular";
  font-size: 48px;
  line-height: 1.4;
  margin-bottom: 28px;
}

h2 {
  color: #002E56;
  font-family: "Averta-Bold";
  font-size: 27px;
  line-height: 1.4;
  margin-bottom: 28px;
}

h3 {
  color: #002E56;
  font-family: "Averta-Bold";
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
}

p {
  color: black;
  font-family: "Averta-Regular";
  font-size: 18px;
  line-height: 1.85;
  margin-bottom: 18px;
}

p em {
  font-family: "Averta-RegularItalic";
  color: #002E56;
  font-style: normal;
}

a {
  cursor: pointer;
}

button,
a.button {
  background: #0067C3;
  color: white;
  font-family: "Averta-Regular";
  font-size: 18px;
  line-height: 30px;
  border: none;
  padding: 15px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 60px;
  transition: all 0.4s ease;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  outline: none;
  transform: scale(1.05);
  background: #002E56;
  cursor: pointer;
}

button.toggle,
a.button.toggle {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0);
}

button.toggle svg,
a.button.toggle svg {
  height: 24px;
  width: 24px;
  fill: white;
  margin-left: -12px;
  margin-bottom: -6px;
  margin-right: 6px;
}

button.toggle:hover,
a.button.toggle:hover {
  color: white;
  width: auto;
}

#buttontogglesound:hover,
#buttontogglesound:focus {
  width: 189px;
}

#buttonfilter:hover,
#buttonfilter:focus {
  width: 197px;
}

#buttondownload:hover,
#buttondownload:focus {
  width: 195px;
}

#buttontoggleframework:hover,
#buttontoggleframework:focus {
  width: 226px;
}

#bubbleisthereanappforthat {
  mask-image: url("images/bubbleisthereanappforthat.svg");
  -webkit-mask-image: url("images/bubbleisthereanappforthat.svg");
  background: var(--isthereanappforthat-color);
}


#bubbletakemebythehand {
  mask-image: url("images/bubbletakemebythehand.svg");
  -webkit-mask-image: url("images/bubbletakemebythehand.svg");
  background: var(--takemebythehand-color);
}

#bubblesharingiscaring {
  mask-image: url("images/bubblesharingiscaring.svg");
  -webkit-mask-image: url("images/bubblesharingiscaring.svg");
  background: var(--sharingiscaring-color);
}


#bubbleonmyterms {
  mask-image: url("images/bubbleonmyterms.svg");
  -webkit-mask-image: url("images/bubbleonmyterms.svg");
  background: var(--onmyterms-color);
}

#bubbleseethewholeme {
  mask-image: url("images/bubbleseethewholeme.svg");
  -webkit-mask-image: url("images/bubbleseethewholeme.svg");
  background: var(--seethewholeme-color);
}

#bubblegivemefairaccess {
  mask-image: url("images/bubblegivemefairaccess.svg");
  -webkit-mask-image: url("images/bubblegivemefairaccess.svg");
  background: var(--givemefairaccess-color);
}

#bubblewinbackmytrust {
  mask-image: url("images/bubblewinbackmytrust.svg");
  -webkit-mask-image: url("images/bubblewinbackmytrust.svg");
  background: var(--winbackmytrust-color);
}
