body, ol, ul, li, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

h1 {
  color: #002E56;
  font-family: "Averta-Regular";
  font-size: 36px;
  line-height: 1.4;
  margin: 28px;
}

p {
  color: #002E56;
  font-family: "Averta-Regular";
  font-size: 18px;
  line-height: 33px;
  margin: 18px;
}

button {
  background: #0067C3;
  color: white;
  font-family: "Averta-Regular";
  font-size: 18px;
  line-height: 33px;
  border: none;
  padding: 15px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 60px;
  transition: all 0.4s;
}

button:hover,
button:focus {
  outline: none;
  transform: scale(1.05);
  background: #002E56;
  border-radius: 130px 120px 170px 170px / 120px 120px 140px 150px;
}
