:root {
  --button-color: var(--onmyterms-color);
  --background-color: var(--onmyterms-background-color);
  --text-color: var(--onmyterms-text-color);
  --conversation-color: var(--onmyterms-text-color);
}

body {
  background-image: url('../images/backgroundonmyterms.png');
}
