:root {
  --button-color: var(--isthereanappforthat-color);
  --background-color: var(--isthereanappforthat-background-color);
  --text-color: var(--isthereanappforthat-text-color);
  --conversation-color: var(--isthereanappforthat-text-color);
}

body {
  background-image: url('../images/backgroundisthereanappforthat.png');
}
