:root {
  --button-color: var(--givemefairaccess-color);
  --background-color: var(--givemefairaccess-background-color);
  --conversation-color: var(--givemefairaccess-text-color);
}

body {
  background-image: url('../images/backgroundgivemefairaccess.png');
}
