:root {
  --button-color: var(--seethewholeme-color);
  --background-color: var(--seethewholeme-background-color);
  --text-color: var(--seethewholeme-text-color);
  --conversation-color: var(--seethewholeme-text-color);
}

body {
  background-image: url('../images/backgroundseethewholeme.png');
}
